label[for="searchData"] + div {
  width: 300px;
  position: relative;
}

label[for="searchData"] + div::after {
  content: '';
  background: url('data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20role%3D%22img%22%20class%3D%22css-n970in-getIconStyles%22%20style%3D%22%0A%22%3E%3Cpath%20d%3D%22m19.285%2020.718-5.736-5.735a6.242%206.242%200%200%201-3.892%201.331c-1.86%200-3.435-.644-4.723-1.932C3.644%2013.092%203%2011.518%203%209.657c0-1.86.645-3.435%201.934-4.724C6.222%203.644%207.797%203%209.657%203c1.86%200%203.436.644%204.725%201.933%201.288%201.289%201.932%202.864%201.932%204.724a6.242%206.242%200%200%201-1.331%203.892l5.761%205.761a.94.94%200%200%201%20.282.691.982.982%200%200%201-.308.717.97.97%200%200%201-.717.282.971.971%200%200%201-.716-.282Zm-9.628-6.452c1.28%200%202.369-.448%203.265-1.344.896-.896%201.344-1.985%201.344-3.265s-.448-2.368-1.344-3.265c-.896-.896-1.985-1.344-3.265-1.344s-2.368.448-3.265%201.344c-.896.897-1.344%201.985-1.344%203.265s.448%202.369%201.344%203.265c.897.896%201.985%201.344%203.265%201.344Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  position: absolute;
  width: 24px;
  height: 24px;
  right: 8px;
  top: 4px;
}