div[data-test="top-navigation"] {
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

#notifications-page {
  z-index: 99;
  top: 56px;
}

#settingsPage {
  margin-top: 50px !important;
}

label[for="connectorEnabled"]:last-child:focus-within {
  outline: none;
}

.top-bar {
  padding: 12px 10px;
  position: fixed;
  z-index: 100;
  width: calc(100% - 245px);
  right: 17px;
  background: #fff;
  min-height: 56px;
  margin-top: 0 !important;
  top: 43px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#urlConfigurationPanel + div #urlConfigurationInputs > div > span {
  margin-bottom: 25px !important;
}

#urlConfigurationPanel + div #urlConfigurationInputs > div > span > div:first-child > div {
  display: grid;
  grid-template-columns: 150px 350px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  height: 32px;
} 

#urlConfigurationPanel + div #urlConfigurationInputs > div > span > div > div div:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}

#urlConfigurationPanel + div #urlConfigurationInputs * {
  margin-top: 0 !important;
}

#jobConfigurationPanel + div {
  z-index: 99;
}

#jobConfigurationPanel + div #modeSelect > span > div > div {
  display: grid;
  grid-template-columns: 50px 150px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  height: 32px;
  width: 200px;
}

#jobConfigurationPanel + div #scheduleSelect > span > div:first-child > div {
  display: grid;
  grid-template-columns: 80px 210px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  height: 32px;
  width: auto;
}

#jobConfigurationPanel + div #scheduleSelect > span > div > div div:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}

#jobConfigurationPanel + div div[aria-labelledby="jobConfigurationPanel"] > span > div > span {
  min-height: 32px;
}

#jobConfigurationPanel + div div[aria-labelledby="jobConfigurationPanel"] > span > div > span > span > label:first-child {
  min-width: 100px;
}

#jobConfigurationPanel + div div[aria-labelledby="jobConfigurationPanel"] > span > div > span > span > label:last-child:focus-within {
  outline: none;
}

#jobConfigurationPanel + div div {
  margin-top: 0 !important;
}

#jobConfigurationPanel + div > div {
  padding-bottom: 30px !important;
}

#uploadFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#ctConfigurationPanel {
  justify-content: flex-start;
}

#ctConfigurationPanel + div label {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: inline-flex;
  font-size: var(--font-size-for-button, 1rem);
  font-weight: var(--font-weight-for-button, 400);
  cursor: pointer;
  align-items: center;
  color: var(--color-surface, #fff);
  transition: background-color var(--transition-linear-80-ms, 80ms linear);
  padding: 0 var(--spacing-30, 16px) 0 var(--spacing-30, 16px);
  height: var(--height-for-button-as-big, 32px);
  border-radius: var(--border-radius-for-button-as-big, 6px);
  box-shadow: var(--shadow-for-button, 0 -1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24));
  background-color: var(--color-primary, #00b39e);
}

#ctConfigurationPanel + div label p {
  color: var(--color-surface, #fff);
}

#ctConfigurationPanel + div label:hover {
  background: var(--background-color-for-button-as-primary-when-hovered, hsl(172.9608938547486, 100%, 25%));
}

#ctConfigurationPanel + div label:active {
  background: var(--background-color-for-button-as-primary-when-active, #00b39e);
  box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 1.5px 0 rgba(0, 0, 0, 0.2), inset 0 1px 1.5px 0 rgba(0, 0, 0, 0.25);
}

.config-file-display {
  margin-bottom: 20px;
}

@media (max-width: 920px) {
  .top-bar {
    width: calc(100% - 64px);
  }
  #jobConfigurationPanel + div #modeSelect > span > div > div {
    grid-template-columns: 50px 180px;
  }

  #jobConfigurationPanel + div #modeSelect > span  {
    flex-direction: column;
    align-items: baseline;
    row-gap: 10px;
  }

  #jobConfigurationPanel + div #scheduleSelect {
    margin-left: 0 !important;
  }
}

@media (max-width: 714px) {
  #jobConfigurationPanel + div div[aria-labelledby="jobConfigurationPanel"] > span > div > span > span > label:first-child {
    min-width: auto;
  }

  #urlConfigurationPanel + div #urlConfigurationInputs > div > span > div:first-child > div  {
    grid-template-columns: 1fr 1fr;
  }

  #jobConfigurationPanel + div #scheduleSelect > span > div:first-child > div {
    grid-template-columns: 1fr 1fr;
  }

  #jobConfigurationPanel + div #modeSelect > span > div > div {
    grid-template-columns: 1fr 1fr;
    width: auto;
  }
}

